@import 'bulma/bulma';

body {
    background-color: #f5f5f5;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav {
    .navbar-item {
        img {
            padding-right: 15px;
        }
    }
}

.main-content {
    flex: 1;
    padding: 40px 20px;
}

.footer {
    background-color: #363636;
    color: #fff;
    padding: 20px;
}